/* Background Image/Banner */
.header {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
}

.header::after {   
    content: "";
    background-image:url(/img/dark_background.jpg);
    background-size: 100% 100%;
    background-position:center;
    opacity: 0.7;
    top: -10;
    left: -10;
    bottom: -10;
    right: -10;
    position: absolute;
    z-index: -1;   
}

/* Logo at top-left */
.container_logo {
    width: 300px;
    padding-left: 125px;
    padding-top: 20px;
}

#main_logo img {
    max-height: 100%;
    max-width: 100%;
}

/* Tagline & Motto */
.br_header {
    display: block;
    margin: 80px 0;
}


#tagline {
    width: 900px;
    margin: auto;
}

#motto {
    width: 600px;
    margin: auto;
}

#tagline img, #motto img {
    max-height: 100%;
    max-width: 100%;
}

/* Form */
form {
    text-align: center;
}

input[type=text] {
    width: 20%;
    padding: 14px 0px;
    margin: 20px 0px;
    box-sizing: border-box;
    border: 2px solid red;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    color: black;
    font-size: 18px;
    background-image: url('/img/shrink_it.jpg');
    background-size: 40px 40px;
    background-position: 0; 
    background-repeat: no-repeat;
    padding-left: 60px;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    background-color: white;
    border: 3px solid red;
    font-size: 18px;
    width: 50%;
}

input[type=button], input[type=submit], input[type=reset] {
    width: 10%;
    background-color: red;
    border: 2px solid red;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-size: 18px;
    padding: 14px 0px;
    margin: 20px 0px 0px -8px;
    text-decoration: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e60000;
    color: white;
}

/* Results */
.results {
    clear: left;
    text-align: center;
}

/* Content */
.first p:first-child {
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    text-align: center;
}

.first p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    text-align: center;
}

/* Floating Content */
.floats {
    width: 60%;
    margin-left: 20%;
}

.floats div {
    width: 33.3%;
}

#img_container {
    width: 50%;
    padding-bottom: 50%;   
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.float_1, .float_2, .float_3 {
    float: left;
}

.floats p:nth-child(2) {
    font-size: 2em;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    text-align: center;
}

.floats p:nth-child(3) {
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

/* Number Of Links Shortened */
#blue_background {
    clear: left;
    background-color: #0e3042;
    color: white;
    padding-top: 1px;
    margin-top: 30px;
}

#counters {
    width: 400px;
    margin: auto;
    padding-bottom: 10px;
}

#counter {
    color: white;
    text-align: center;
    padding-top: 13px;
    font-size: 40px;
    background-repeat: no-repeat;
    width: 50px;
    height: 75px;
    background-size: contain;
    display: inline-block;
}

#comma {
    font-size: 40px;
    display: inline-block;
}




/* Table */
#table_heading {
    font-size: 40px;
    text-align: center;
    font-family: 'Satisfy', cursive; 
}

table {
    width: 80%;
    margin-left: 10%;
    border: 1px solid white;
    background-color: #0e3042;
    color: white;
}

#table_header, thead {
    font-family: 'Satisfy', cursive; 
    font-size: 25px;
    text-align: center;
}

.data {
    font-family: Arial;
    font-size: 20px;
}

td, th {
    border: 1px solid white;
    text-align: center;
}

table a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.data:hover {
    background-color: white;
    color: #0e3042;
}

.data:hover a {
    color: #0e3042;
}

/* Disclaimer & Footer */
#disclaimer {
    font-size: 0.75em;
}

#disclaimer_content {
    font-size: 0.5em;
    font-family: 'Roboto', sans-serif;
}

#footer_logo {
    width: 300px;
    margin: auto;
}

