<html>
	<head>
		<title>Linker Shrinker!</title>
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet" type='text/css'>
		<link rel="icon" href="img/tab_icon.ico">
	<body>
		<%= yield %>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</html>
